
                    .about-banner {
                        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                            url("images/about_us_1.jfif");
                        background-size: cover;
                        background-position: center;
                        height: 300px;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .about-banner h1 {
                        font-size: 42px;
                        font-weight: bold;
                    }

                    .icon-box {
                        background: #f8f9fa;
                        padding: 20px;
                        border-radius: 10px;
                        text-align: center;
                        transition: 0.3s;
                        color: green;

                    }

                    .icon-box:hover {
                        transform: translateY(-5px);
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                    }

                    .mb-3{
                        color: green;
                    }
                