
                    /* About Banner */
.about-banner {
    min-height: 400px;
    padding-top: 120px;

    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
                url('https://images.unsplash.com/photo-1586773860418-d37222d8fce3');
    background-size: cover;
    background-position: center;
    text-align: center;
}


/* Heading Style */
.about-heading {
    font-size: 45px;
    font-weight: 700;
    animation: fadeInUp 1.2s ease-in-out;
}

/* Animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


                    .about-banner h1 {
                        font-size: 42px;
                        font-weight: bold;
                    }

                    .icon-box {
                        background: #f8f9fa;
                        padding: 20px;
                        border-radius: 10px;
                        text-align: center;
                        transition: 0.3s;
                        color: green;

                    }

                    .icon-box:hover {
                        transform: translateY(-5px);
                        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
                    }

                    .mb-3{
                        color: #0C4B45;
                    }


                    /* About Section */
.about-details h2 {
    font-weight: 700;
}

.about-details p {
    font-size: 16px;
    line-height: 1.8;
}

/* Core Values */
.value-box {
    padding: 25px;
    background: #ffffff;
    border-radius: 10px;
    transition: 0.4s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.value-box:hover {
    transform: translateY(-8px);
}

/* CTA */
.about-cta {
    background: linear-gradient(rgba(0,123,255,0.9), rgba(0,123,255,0.9)),
                url('https://images.unsplash.com/photo-1576091160550-2173dba999ef');
    background-size: cover;
    background-position: center;
}


                  