.navbar {
    background-color: #0C4B45;
 }
.navbar a {
    color: #FFFFFF;
}
.footer {
    background-color: #0C4B45;
    color: #FFFFFF;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover {
    color: #D1FAE5;
}
.social_icons{
    font-size:28px;
}

.bi-facebook{
    margin-right:10px;
}
.bi-facebook:hover{
    color:#1877F2;
}

.bi-linkedin{
    margin-right:10px;
}
.bi-linkedin:hover{
    color:#0A66C2;
}

.bi-youtube{
    margin-right:10px;
}
.bi-youtube:hover{
    color:red;
}
.bi-twitter{
    margin-right:10px;
}
.bi-twitter:hover{
    color:#1DA1F2;
}

.bi-instagram:hover{
    color:hotpink;
}
.info_form{
    background-color: #F0FDFA;
    transition:0.3s;
    border-radius:8px;
   
}
.info_form:hover{
    transform:translateY(-5px);
     box-shadow: 2px 5px 5px black;

}
.card{
    
    transition:0.3s;

}

.card:hover{
    background-color: #D7EFEA;
    transform:translateY(-5px);
    box-shadow:0 8px 18px rgba(0,0,0,0.15);
}
.hospital_img{
    box-shadow:5px 5px 5px rgba(19, 43, 19,0.8);
    transition:0.3s;
}
.hospital_img:hover{
    box-shadow:8px 8px 8px rgba(19, 43, 19,0.8);
    transform: translateY(-5px);
}
iframe{
    transition:0.3s;
    border-radius:10px;
}
iframe:hover{
    box-shadow:8px 8px 8px rgba(19, 43, 19,0.8);
    transform:translateY(-4px);
}
.contact_heading{
    font-size:40px;
    color:#0C4B45;
    font-family:times new roman;
    font-weight: 400;
}
.submit_btn{
    background-color:rgb(7, 187, 169);
    
}
.banner3{
    position: relative;
}
.banner-text{
    position:absolute;
    top:35%;
    left:80px;
    color:white;
    
}
.banner-text>h2{
    text-shadow:5px 5px 5px black;
}
.banner-text>p{
    text-shadow:5px 5px 5px black;
}
.appointment_link{
    text-decoration:none;
    background-color: #0C4B45;
    color:white;
    border-radius:5px;
    padding:5px;
    transition:transform 0.5s ease-in-out;
    display:inline-block;
}
.appointment_link:hover{
    transform:translateY(-5px);

}

