:root {
    --primary-green: #0C4B45;
    --border-radius: 20px;
}

.h_ser{
    color:var(--primary-green);
    font-weight: 700;
}

.p_ser{
         text-align: left;
        
        }

.h_3_ser{
    font-size: 20px;
    color: #000;
    font-weight: 600;
    margin-bottom: 10px;
    
}

.col-md-5{
    margin-bottom: 10px;
    border-radius: 20px;
    border: 2px solid #0C4B45;
    gap: 20px;
    padding: 20px;
}
.service_row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

