.navbar {
    background-color: #0C4B45;
 }
.navbar a {
    color: #FFFFFF;
}
.footer {
    background-color: #0C4B45;
    color: #FFFFFF;
}
.footer a {
    color: #ffffff;
    text-decoration: none;
}
.footer a:hover {
    color: #D1FAE5;
}
.social_icons{
    font-size:28px;
}

.bi-facebook{
    margin-right:10px;
}
.bi-facebook:hover{
    color:#1877F2;
}

.bi-linkedin{
    margin-right:10px;
}
.bi-linkedin:hover{
    color:#0A66C2;
}

.bi-youtube{
    margin-right:10px;
}
.bi-youtube:hover{
    color:red;
}
.bi-twitter{
    margin-right:10px;
}
.bi-twitter:hover{
    color:#1DA1F2;
}

.bi-instagram:hover{
    color:hotpink;
}
.info_form{
    background-color: #F0FDFA;
}
